@charset "UTF-8";



@font-face{
    font-family: 'Athiti', sans-serif;
    src: url('Fontes/Athiti/Athiti-SemiBold.ttf' ) format(truetype);
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: "Scope One', serif" ;
    src: url('Fontes/Scope_One/ScopeOne-Regular.ttf') format(truetype);
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family:'Rubik', sans-serif;
    src: url('Fontes/Rubik/Rubik-VariableFont_wght.ttf') format(truetype);
    font-weight: normal;
    font-style: normal;
}



:root{

    --cor1:#233D8C;
    --cor2:#2E84A6;
    --image:'imagens/AdobeStock_519844593_Preview.jpeg';

    --font1:'Athiti', sans-serif;
    --font2:"Scope One', serif" ;
    --font3:'Rubik', sans-serif;
}

body{background-color: #233d8c0e;
    padding: 0px;
    margin: 0px;
    }

/*ok */
#verde{
    
    position: relative;
    clip-path: circle(56% at 16% 6%);
    background-size: cover;
    }

/*ok*/
#verde img{
    width: 69%;
    
}

/*ok */
#prof{
    text-align: center;
    font-weight: lighter;
    position: absolute;
    font-size: 5vw;
    font-family: var(--font2);
    color: var(--cor1);
    right: 9vh;
    top: 14vw;
}
/*ok*/
#rede{    
    display: inline-flex;
    gap: 2vh;
    top: 5vh;
    right: 2vw;
    position: absolute;
}
/*ok*/
#rede img{height: 66px ;}
/*ok*/
#rede :hover{
    border-radius:60%;
    background: #2e84a609 ;}

/*Titulo e sub situlo*/

main {
    padding-top: 8vw;
    margin-right: 5vh;
    margin-left: 5vh ;
    font-size: 2rem;
}

aside{
    padding: 2%;
    width: 65%;   
}

#eu{
    position: absolute;
    right: 16vh;
    clip-path: circle(42% at 50% 50%);
    width: 24%;
}
#icons{
    height: 10vh;
    display: flex}

aside p{
    color: #2E84A6;
    font-weight: lighter;
    font-family: var(--font2);
    text-align: justify}

aside h1{
    color: #2E84A6;
    font-weight: bolder;
    font-family: var(--font2);}

@media (max-width: 1000px)/*TAMANHO 1000*/ {

aside p{font-size: 30px;}

#eu{top: 50vh;}

#prof{font-size: 5vw;
    right: 6vh;}

/*ok*/
aside h1{padding-right: 26vh;}
#rede {
    display: inline-flex;
    gap: 2vh;
    top: 2vh;
    right: 7vw;
    position: absolute;
}
#rede img{height: 65px ;}
aside{
    padding: 2%;
     width: 90%;}
}
@media (max-width: 740px)/*TAMANHO 740*/ {

aside h1{font-size: 30px;}
#eu{right: 13vh;
    top: 35vh;
    width: 30%;}

}


@media (max-width: 501px)/*TAMANHO 366*/{

aside h1{font-size: 30px;}

aside p{font-size: 25px;}

#eu{    right: 6vh;
    top: 25vh;
    width: 36%;} 

aside{
    padding: 2%;
     width: 100%;}

#prof{font-size: 4vw;
    right: 6vh;}

#rede {
        display: inline-flex;
        gap: 2vh;
        top: 2vh;
        right: 10vw;}

#rede img{height: 40px ;}
    }
